@font-face {
    font-family: "gabarito";
    src: url(./font/gabarito.ttf);
}

h1{
    font-family: "gabarito";
    text-align: center;
}

.logo{
   text-align:  center;
}

.logoGrande{
    height: 15rem;
}

p{
    font-family:"gabarito";
    text-align: center;
    font-size: 1.2rem;
    color: #F08575;
}

body{
    background-image: url(./img/fondobody.png);
    align-items: center;
}

.Res1 {
    color: #36382E;
}

.Res2{
    color: #BD8B9C;
}
.Res3{
    color: #F08575;
}

/*------------ Formulario------------*/

.form{
    font-family: "gabarito";
    border: solid #F08575 8px;
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 3% 20%;
    background-color: white;
    transition: 1.5s;
    .form-group{
        padding-bottom: 1.5rem;
    }

    .comentario{
        align-content: center;
    }
}